/* Загальні стилі для Email і Message */
.modal-input,
.modal-text-input,
.modal-input-label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

/* Основний контейнер форми */
.feedback-form {
    width: 408px;
    height: 396px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    gap: 16px;
}


/* Внутрішній контейнер */
.form-inner {
    width: 360px;
    /* 408 - 24*2 */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Поля */
.modal-form-box.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* відступ між назвою і текстом під полем */
}

/* Input */
.modal-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;

}

/* Textarea */
.modal-text-input {
    width: 100%;
    height: 80px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    /* завжди білий фон */
    resize: none;
    text-align: left;
    border: 1px solid #808080;
    outline: none;
    box-shadow: none;
}

/* Кнопка */
.modal-submit {
    width: 95px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: #4d5ae5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
    /* вирівняно по лівому краю */
}

.modal-input-label {
    text-align: left;
}

/* Hover — виділяємо рамку */
.email-field:hover {
    border-color: #000;
    /* чорна рамка */
}

/* Focus / Active */
.email-field:focus {
    border: 1px solid #808080;
    /* така ж, як у нормальному стані */
}

.modal-submit:hover,
.modal-submit:focus {
    background: #4e75ff;
    /* фон при hover/focus */
}