.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* відстань між картками */
    list-style: none;
    margin: 24px 0;
    /* відступи зверху і знизу */
    padding: 0;
}


.gallery-item {
    width: calc((100% - 48px) / 3);
    /* 3 колонки з gap 24px */
}

.gallery-link {
    display: block;
}

.gallery-image {
    display: block;
    width: 100%;
    height: auto;
    cursor: zoom-in;
    transition: transform 0.25s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}